@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book Trails Library</h1>
    <p>Realize empréstimos dos livros que mais se interessar.</p>
</div>
